<!-- views/pages/sange.ejs -->

<%- include ('../partials/header') %>    

    <h1><%= title %></h1>
    <p><%= content %></p>

    <section id="activity_list">
    <% activity_list.forEach(function(item) { %>
        <div class="activity_item <%= item.info.inits %>">
            <div class="headline">
                <%= item.time %><br />
                <%= item.friendly_name %>
            </div>
            <div class="info">
                <%= item.info.name %><br>
                Hold: <%= item.class %><br />
                Lokale: <%= item.classroom %><br />
                Dato: <%= item.date %>
            </div>
        </div>
    <% }); %> 
    </section>

<%- include ('../partials/footer') %>